.wrapper {
  padding: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.success,
.error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.error {
  color: #d63301;
  background-color: #ffccba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
}

.success {
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url("https://i.imgur.com/Q9BGTuy.png");
}

.center {
  text-align: center;
}

#navbar ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: right;
  background-color: #252429;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
  color: #fff;
  background-color: #000;
}

#navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}
